include  ../../admin/index
// Content Wrapper. Contains page content
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Data Transaksi
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='#') Tables
            li.active Data tables
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .box.box-info
                            .box-header.with-border
                                h3.box-title Input data transaksi
                            // /.box-header
                            // form start
                            form.form-horizontal(method="post", action="/inputdata", role='form')
                                .box-body
                                    .form-group
                                        label.col-sm-2.control-label(for='kodetransaksi') Kode Transaksi
                                        .col-sm-10
                                            input#kodetransaksi.form-control(type='text' name="kodetransaksi" placeholder='Kode Transaksi')
                                    .form-group
                                        label.col-sm-2.control-label(for='namapembeli') Nama Pembeli
                                        .col-sm-10
                                            input#namapembeli.form-control(type='text' name="namapembeli" placeholder='Nama Pembeli')
                                    .form-group
                                        label.col-sm-2.control-label(for='qty') Qty
                                        .col-sm-10
                                            input#qty.form-control(type='text' name="qty" placeholder='Qty')
                                    .form-group
                                        label.col-sm-2.control-label(for='harga') Harga
                                        .col-sm-10
                                            input#harga.form-control(type='text' name="harga" placeholder='Harga')


                                // /.box-body
                                .box-footer
                                    button.btn.btn-info.pull-right(type='submit') Input Data
                                // /.box-footer

